@font-face {
    font-family: 'journalregular';
    src: url('fonts/journal-webfont.woff2') format('woff2'),
         url('fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'afta_sansitalic';
    src: url('fonts/aftasansthin-italic-webfont.woff2') format('woff2'),
         url('fonts/aftasansthin-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'afta_sansregular';
    src: url('fonts/aftasansthin-regular-webfont.woff2') format('woff2'),
         url('fonts/aftasansthin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

em {
    font-family: 'afta_sansitalic';
}

/* Standardize input-control size */
input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#sidebar {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 35vw;
    background-image: url("kris-atomic.jpg");
}

#logo-banner {
    display: flex;
    height: 20vh;
    background-color: rgb(0 0 0 / 0.4);
    margin-top: 15vh;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
}

#logo {
    display: flex;
    align-items: center;
    height: 100%;
}

#santa {
    width: 100%;
    height: auto;
    max-height: 100%;
}

#brand {
    color: white;
    font-family: 'journalregular';
    font-size: 40px;
    padding: 15px;
}

#credit-footer {
    text-align: center;
}

#main {
    display: flex;
    width: 65vw;
    flex: 1 auto;
    flex-direction: column;
    justify-content: center;
    font-family: 'afta_sansregular', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

#disclaimer, #form, #submission {
    padding: 0 45px;
    flex: 1 auto;
}

#disclaimer, #submission {
    background-color: rgb(245, 244, 244);
}

#disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    font-weight: bold;
    font-size: 1.5rem;
}

#form {
    display: flex;
    align-items: stretch;
    height: 30vh;
}

.input-row {
    display: flex;
    font-size: 12px;
    font-weight: bold;
}

.input-set {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

#submission {
    height: 35vh;
}